<%= form_with(model: marker, remote: true) do |form| %>
  <% if marker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marker.errors.count, "error") %> prohibited this marker from being saved:</h2>

      <ul>
      <% marker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :types %>
        <%= form.collection_check_boxes(:type_id,
                        Type.all,
                        :id,
                        :name) do |b| %>
        <%= b.label class:"label-checkbox" do%>
            <%= b.check_box + b.text%>
        <%end%>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :Categories %>
        <%= form.collection_check_boxes(:category_id,
                        Category.all,
                        :id,
                        :name) do |b| %>
        <%= b.label class:"label-checkbox" do%>
            <%= b.check_box + b.text%>
        <%end%>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit data: { confirm: 'Estás seguro?...'} %>
  </div>
<% end %>
