<tr id="marker_<%= marker.id %>">
  <td><%= marker.name %></td>
  <td><%= marker.type.name %></td>
  <td><%= marker.category.name %></td>
  <td><%= marker.url %></td>
  <td><%= link_to 'Show', marker, class: "btn btn-primary", remote: true %></td>
  <td><%= link_to 'Edit', edit_marker_path(marker), class:"btn btn-success", remote: true %></td>
  <td><%= link_to marker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: true do %>
      <i class="fas fa-trash-alt"></i>
    <% end %></td>
</tr>
