<p id="notice"><%= notice %></p>
<%= pie_chart @types_graf %>
<div class="card">
  <div class="card-header d-flex justify-content-start">
    <div class="m-0">
      <%= link_to new_type_path, {remote: true, class: "btn btn-success text-left", id: "anadir-marker-btn"}  do %>
        <span class="fas fa-plus-square" ></span>
      <% end %>
    </div>
    <h1 class="h3 mx-5 text-gray-800 text-center">Type</h1>
  </div>
</div>
<div class="card m-2">
  <table class="table border-primary">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @types.each do |type| %>
        <%= render 'types/type', type: type %>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'modal_types' %>
