<tr id="category_<%= category.id %>">
  <td><%= category.name %></td>
  <td><%= category.status_private %></td>
  <td>
    <%= if category.parent
                category.parent.name 
            else 
                'No tiene categoria padre'
            end 
        %>
  </td>
  <td><%= link_to 'Show', category,class: "btn btn-primary",  remote: true%></td>
  <td><%= link_to 'Edit', edit_category_path(category), class:"btn btn-success", remote: true%></td>
  <td><%= link_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: true do %>
      <i class="fas fa-trash-alt"></i>
    <% end %></td>
</tr>
